{% extends 'base.html' %}

{% block header %}
  <link href="/static/css/github.css" rel="stylesheet">
  <script type="text/javascript" src="/static/js/showdown.js" charset="UTF-8"></script>
  <script>
    function mdSwitch() {
        var mdValue = document.getElementById("body").value;
        var converter = new showdown.Converter();
        var html = converter.makeHtml(mdValue);
        document.getElementById("preview").innerHTML = html;
  }
  function Preview(){
    var preview = document.getElementById("preview").style.display;
    if (preview=="none"){
      document.getElementById("preview").style.display = "";
      $("#body").removeClass("col-md-12").addClass('col-md-6');
    }
    else{
      document.getElementById("preview").style.display = "none";
      $("#body").removeClass("col-md-6").addClass('col-md-12');
    }
  }
  </script>
  <div class="nav-link">{% block title %}新建{% endblock %}</div>
{% endblock %}

{% block content %}
<form method="post" enctype=multipart/form-data>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">保存</button>
        <button type="button" onclick=Preview() class="btn">预览</button>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" name="title" id="title" value="{{ request.form['title'] }}" autofocus required>
      </div>
      <div class="form-row">
        <textarea name="body" class="col-md-6 mb-3 form-control" rows="10" id="body" onpaste=mdSwitch() onkeyup=mdSwitch()>{{ request.form['body'] }}</textarea>
        <div id="preview" class="col-md-6 mb-3"></div>
      </div>
    </div>
</form>
{% endblock %}