{% extends 'base.html' %}

{% block header %}
    <div class="nav-link">{% block title %}主页{% endblock %}</div>
    {% if g.user %}
    <a class="nav-link" role="button" aria-pressed="true" href="{{ url_for('blog.create') }}">新建</a>
    {% endif %}
{% endblock %}

{% block content %}
  <div class="d-flex align-items-center p-3 my-3 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h6 class="mb-0 lh-100">Bootstrap</h6>
      <small>Since 2011</small>
    </div>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">最近更新</h6>
    {% for post in posts %}
    <a href="{{ url_for('blog.show', id=post['id']) }}" class="text-decoration-none">
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">
                {{ post['title'] }} by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
            </strong>
            {{ summary[post['id']] }}
          </p>
    </div>
    </a>
    {% endfor %}
    <small class="d-block mt-3">
        <nav tabindex="-1">
          <ul class="pagination justify-content-center">
            {% for page in pages %}
            <li class="page-item">
              <a class="page-link" href="{{ page['link'] }}">{{ page['name'] }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
    </small>
  </div>
{% endblock %}
