{% extends 'base.html' %}

{% block header %}
    <div class="nav-link">{% block title %}编辑 "{{ post['title'] }}"{% endblock %}</div>
{% endblock %}

{% block content %}
<form method="post" enctype=multipart/form-data>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">保存</button>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteDialog">删除</button>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow">
      <div class="form-group">
        <label for="title">标题</label>
        <input class="form-control" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
      </div>
      <div class="form-group">
        <label for="body">内容</label>
        <textarea class="form-control" rows="10" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
      </div>
<!--      <div class="form-group custom-file">-->
<!--        <input type="file" class="form-control-file" accept="image/*" name="image" id="image">-->
<!--        <label class="custom-file-label" for="image">Choose Image</label>-->
<!--      </div>-->
<!--      <img src="/image/{{ post['filename_uuid'] }}" class="img-thumbnail"/>-->
    </div>
</form>
<form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <div class="modal fade" id="DeleteDialog" tabindex="-1" role="dialog" aria-labelledby="DeleteDialogTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="DeleteDialogTitle">确认删除</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-outline-danger btn-sm">删除</button>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}
